<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Online Learning App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">Subscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Our Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/projects">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/courses">My Courses</a>
                </li>
                <li class="nav-item" *ngIf="status">
                    <a class="nav-link" routerLink="/enquiries">My course</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="loginhandler()">{{loginmenu}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>